
	<p><i>Magic Word</i> (parola magica) è un gioco di ricerca di parole all’interno del quale i giocatori hanno due minuti  per cercare delle parole in una griglia 4x4 composta da lettere. Ogni volta che una parola viene trovata,  il punteggio del giocatore aumenta in base al valore della parola. Le parole  trovate nella griglia che non sono presenti nel dizionario non vengono accettate.</p>
	<p> Possono giocare a <i>Magic Word</i> (parola magica) un solo giocatore oppure due, uno contro l’altro. </p>

	<h3>Da soli</h3>
	<p>Quest’opzione permette al giocatore di esercitarsi in maniera individuale. Il giocatore può scegliere di giocare un numero infinito di round della durata di due minuti.</p>

	<h4>Cominciare il gioco </h4>
    <p>Per giocare individualmente, nella pagina principale, cliccare sull’icona “1 giocatore”. Seleziona il tipo di round che preferisci tra le tre opzioni. Il gioco comincerà automaticamente. Alla fine del gioco, puoi decidere se continuare o ritornare alla pagina iniziale.</p>

	<h4>Visualizzazione del punteggio e delle parole</h4>
	<p>Il giocatore potrà visualizzare il punteggio, le parole trovate e tutte le combinazioni di parole possibili nella griglia alla fine del gioco.</p>

	<h3>Uno contro l’altro</h3>
	<p>Questa opzione permette a due giocatori di sfidarsi all’interno della stessa griglia. Questa opzione consiste in tre round da due minuti ciascuno.</p>

	<h4>Cominciare il gioco </h4>
	<p>Se un membro desidera cominciare il gioco insieme ad un altro giocatore, allora deve invitarlo a giocare. Per invitare un altro giocatore , cliccare sull’icona « duello » nella pagina iniziale. Selezionare un giocatore presente online, e invitarlo a giocare. </p>

	<h4>Accettare un invito a giocare</h4>
	<p>Se un giocatore  è invitato da un’altro a partecipare al gioco, riceverà una notifica dell’invito, che può accettare o declinare.</p>

	<h4>Abbandonare il gioco</h4>
	<p>Se un giocatore decide di abbandonare il gioco prima che tutti  gli avversari abbiano terminato i tre round, colui che abbandona sarà dichiarato automaticamente perdente, senza tener conto del suo punteggio ( anche se questo risulta essere maggiore di quello degli avversari).</p>

	<h4>Round, punteggi e parole</h4>
	<p>Alla fine di ogni round il giocatore potrà visualizzare il suo punteggio, quello degli avversari, le parole che ha trovato, quelle individuate dagli avversari, così come tutte le combinazioni possibili. Nel caso in cui un giocatore termini il round prima degli altri, dovrà aspettare che l’avversario abbia terminato per poter visualizzare il punteggio e le parole e per poter cominciare un nuovo round. Alla fine dei tre round sarà proclamato il vincitore.</p>

	<h3>Selezionare le parole nella griglia</h3>
	<p>Le parole devono essere composte da un minimo di due lettere, e ogni lettera può essere usata solo una volta.Le parole si formano collegando le lettere  che si trovano in posizione laterale, sopra, sotto, in diagonale. Per selezionare una parola nella griglia è necessario cliccare sulla prima lettera della parola, tenendo premuto il tasto sinistro del mouse e trascinare per selezionare le lettere restanti, a quel punto è possibile lasciare il mouse. Se la parola si trova nel dizionario il punteggio aumenterà, altrimenti rimarrà invariato e la parola indicata sarà considerata come errore.</p>

	<h3>Rounds</h3>
	<p>Ogni partita è composta da tre round che vengono proposti in ordine se si gioca contro un avversario. Nel caso di un solo giocatore, questo può decidere da quale round iniziare.</p>

	<h4>1. Trovare più parole possibili.</h4>
	<p>In questo round l’obiettivo è trovare il maggior numero di parole possibili nella griglia. Più la parola è lunga, maggiore sarà il suo valore. Questo punteggio tiene conto anche del valore di ogni lettera, che cambia da lingua a lingua, come nel gioco Scrabble®.</p>
	<ul>
		<li>2 lettere: 5 punti</li>
		<li>3 lettere: 10 punti</li>
		<li> 4 lettere: 25 punti</li>
		<li>5 lettere: 30 punti</li>
		<li>6 lettere: 40 punti</li>
		<li>7 lettere: 50 punti</li>
		<li>8+ lettere: 60 punti</li>
	</ul>

	<h4>2. Trovare le parole più lunghe</h4>
	<p>In questo round l’obiettivo è trovare le parole più lunghe, che danno un punteggio più alto.</p>
	<ul>
		<li>2 lettere: 1 punti</li>
		<li>3 lettere: 2 punti</li>
		<li>4 lettere: 8 punti</li>
		<li>5 lettere: 50 punti</li>
		<li>6 lettere: 90 punti</li>
		<li>7 lettere: 120 punti</li>
		<li>8+ lettere: 200 punti</li>
	</ul>

	<h4>3. Trovare parole specifiche</h4>
	<p>In questo round l’obiettivo è trovare le parole che appartengono ad una categoria specifica. Per esempio, parole che seguono una particolare regola grammaticale, che sarà indicata nelle istruzioni all’inizio del gioco. Il punteggio è lo stesso che in “Trovare le parole più lunghe”, tranne che le parole specifiche avranno un punteggio doppio rispetto a quelle normali della stessa lunghezza.</p>
	<table>
		<tr>
			<td> Parole normali</td>
			<td>Parole specifiche</td>
		</tr>
		<tr>
			<td>2 lettere: 5 punti</td>
			<td>*10 (50 punti)</td>
		</tr>
		<tr>
			<td>3 lettere: 10 punti </td>
			<td>*10 (100 punti)</td>
		</tr>
		<tr>
			<td>4 lettere: 25 punti </td>
			<td>*10 (250 punti)</td>
		</tr>
		<tr>
			<td>5 lettere: 30 punti </td>
			<td>*10 (300 punti)</td>
		</tr>
		<tr>
			<td>6 lettere: 40 punti</td>
			<td>*10 (400 punti)</td>
		</tr>
		<tr>
			<td>7 lettere: 50 punti</td>
			<td>*10 (500 points)</td>
		<tr>
			<td>8+lettere: 60 punti</td>
			<td>*10 (600 punti)</td>
		</tr>

	</table>

	<h3>Aggiungere parole alla WordBox.</h3>
	<p>Alla fine del round, tutte le parole trovate dal giocatore, e dal giocatore avversario (nel caso in cui ce ne siano 2), così come tutte le parole possibili nella griglia, saranno elencate con le loro definizioni. Se un membro desidera aggiugere una parola alla sua Wordbox, deve cliccare sull’'icona « aggiungere alla mia WordBox ». </p>

	<h3>Bonus</h3>
	<p>I punti di bonus possono essere guadagnati se un giocatore trova una parola che è già presente nella sua Wordbox. Quando una parola della Wordbox viene trovata, il giocatore dovrà rispondere ad una domanda a scelta multipla con tre definizioni, inclusa quella della parola trovata. La scelta della definizione corretta si concretizzerà in punti bonus.</p>
