
	<p><i>Magic Word</i> is a word search game in which players have two minutes to look for words in a 4 x 4 grid of letters. When a word is found, the player’s score is increased based upon the value of the word. Words found in the grid that are not present in the dictionary are not accepted. </p>
	<p><i>Magic Word</i> can be played by either one player, solo, or by two players, versus.</p>

	<h3>Solo</h3>
	<p>This option allows the player to practice playing the game individually. The player may choose to play an infinite number of three-minute rounds.</p>

	<h4>Starting a game</h4>
	<p>To play the game individually, on the homepage, click on the “solo” button. Select the type of round  from the three options that you wish to play. Your game will start automatically. After your game is over, you may choose to play again, or to return to the homepage.</p>

	<h4>Viewing Scores and Words</h4>
	<p>The player will be able to view their score, the words that they have found, and all the possible words in the grid at the end of the game</p>

	<h3>Versus</h3>
	<p>This option allows for two players to play against each other on the same grid. This option for the game is played in three two-minute rounds.</p>

	<h4>Starting a game</h4>
	<p>If a member wishes to start a game with another player, then they must invite them to play. To invite another player to play, on the homepage, click on the “duel” button. Select a player who is online, and invite them to play.</p>

	<h4>Accepting an invitation to play a game</h4>
	<p>If a player is invited by another player to participate in a game, they will receive a notification of the invitation, for which they may choose to accept or to decline.</p>

	<h4>Quitting a game</h4>
	<p>If a player chooses to quit the game before all three rounds have been completed by both adversaries, the quitting player will automatically lose, regardless of if their score at the time may have been greater than that of their adversary.</p>

	<h4>Rounds, Viewing Scores and Words</h4>
	<p>The player will be able to view their score, their competitor’s score, the words that they have found or that their competitor has found as well as all the possible words in the grid at the end of each round. It is possible that one of the players may finish the round before the other, in which case, the first player must wait until the second player is finished before viewing scores and words and starting the next round. At the end of the three rounds, the winner of the	match will be made apparent.</p>

	<h3>Selecting words from the grid</h3>
	<p>Words must be composed of a minimum of two letters and each letter may only be used once. Words are formed by linking letters that are be located adjacent, above, below, or diagonally to each other. To select a word in the grid, click on  the first letter of the word, and hold down the left mouse button and drag to select the rest of the letters, and then release your mouse. If the word is in the dictionary, the score will increase, otherwise the score will remain unchanged and the attempted word will be considered as an error.</p>

	<h3>Rounds</h3>
	<p>There are three rounds in the game. They are played in order in the <i>versus </i>option. In the <i>solo </i>mode, the player decides which one they wish to play.</p>

	<h4>1. Finding the most words</h4>
	<p>In this round, the goal is to find as many words as possible in the grid. The longer the word, the more the word is worth. This scoring also takes into consideration the point value per letter, depending on the language, as seen in the game, Scrabble®.</p>
	<ul>
		<li>2 letters: 5 points</li>
		<li>3 letters: 10 points</li>
		<li>4 letters: 25 points</li>
		<li>5 letters: 30 points</li>
		<li>6 letters: 40 points</li>
		<li>7 letters: 50 points</li>
		<li>8+ letters: 60 points</li>
	</ul>

	<h4>2. Finding the longest words</h4>
	<p>In this round, the goal is to find longer words that can lead to a much higher score.</p>
	<ul>
		<li>2 letters: 1 point</li>
		<li>3 letters: 2 points</li>
		<li>4 letters: 8 points</li>
		<li>5 letters: 50 points</li>
		<li>6 letters: 50 points</li>
		<li>7 letters: 120 points</li>
		<li>8+ letters: 200 points</li>
	</ul>
	<h4>3.Finding  Special Words</h4>
	<p>In this round the goal is to find the words that are part of the special selected category. Examples could be words that follow a specific grammatical rule, which will be indicated in
		 the instructions at the beginning of the game. The scoring is the same as the in ‘finding the most words’, except that special words will be worth double the value of non-special words with the same number of letters.</p>
	<table>
		<tr>
			<td> Normal words</td>
			<td>Special words</td>
		</tr>
		<tr>
			<td>2 letters: 5 points</td>
			<td>*10 (50 points)</td>
		</tr>
		<tr>
			<td>3 letters: 10 points</td>
			<td>*10 (100 points)</td>
		</tr>
		<tr>
			<td>4 letters: 25 points</td>
			<td>*10 (250 points)</td>
		</tr>
		<tr>
			<td>5 letters: 30 points</td>
			<td>*10 (300 points)</td>
		</tr>
		<tr>
			<td>6 letters: 40 points</td>
			<td>*10 (400 points)</td>
		</tr>
		<tr>
			<td>7 letters: 50 points</td>
			<td>*10 (500 points)</td>
		<tr>
			<td>8+letters: 60 points</td>
			<td>*10 (600 points)</td>
		</tr>
	</table>
	<h3>Adding Words to the WordBox</h3>
	<p>At the end of the round, all of the words found by one player, by the second player if in versus mode, as well as all the possible words in the grid will be listed along with their definitions. If the member wishes to add a word to their WordBox, they may click on the button “add to my WordBox”. </p>
	<h3>Bonus</h3>
	<p>Bonus points can be earned if a player finds a word during the game that is already in their WordBox. When a word from the WordBox is found, the player will have a multiple choice question
		 with three definitions, including that of the word found. Choosing the correct definition will result in bonus points.</p>
